* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
h1 {
  text-align: center;
  font-size: 5rem;
}
h2 {
  text-align: center;
}
article {
  width: 300px;
}
button {
  cursor: pointer;
}
.box_task {
  margin: 0 auto;
  width: 300px;
}
.task {
  height: 2rem;
  padding: 0.2rem;
  border-radius: 15px;
  width: 300px;
  border: none;
}
.comment {
  width: 300px;
  height: 5rem;
  padding: 0.2rem;
  border-radius: 15px;
  border: none;
}
.btn_submit {
  width: 200px;
  margin: 2rem 3rem;
  text-align: center;
  line-height: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  border: 2px solid white;
}

.btn_submit:hover {
  background-color: #222849;
  border: 2px solid #222849;
}
.img {
  height: 100vh;
  background-image: url(./img/sky.jpg);
  background-size: cover;
  color: white;
  background-attachment: fixed;
}
.box_desk {
  display: flex;
  justify-content: space-around;
}
.btn_card {
  text-align: center;
  font-size: 2rem;
  background-color: transparent;
  border: none;
}
.card {
  border-radius: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.486);
  color: #424a78;
}
.card_text {
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 15px;
  border: none;
  color: #424a78;
  background-color: white;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(31, 31, 31, 0.479);
}
.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  margin-right: -50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
}
.inp_modal {
  height: 2rem;
  padding: 0.2rem;
  border-radius: 15px;
  width: 300px;
  border: 2px solid #222849;
}
.btn_modal {
  text-align: center;
  font-size: 2rem;
  background-color: transparent;
  border: none;
}
@media (max-width: 600px) {
  .box_desk {
    flex-wrap: wrap;
  }
  .card {
    margin: 0.5rem;
  }
  .modal__wrapper {
    width: 350px;
  }
}
